.central{
  padding: 50px;
  margin-bottom: 50px;
}

.example-form-field{
  margin-left: 20px;
}

.m-click{
cursor: pointer;
}

.size{
  max-width: 500px;
  position: center;
}

.tabela-Filtrada{
margin-bottom: 2%;
}

.pagination-Bar{
  overflow-x: auto;
}

.pedidos-Card{
  margin-bottom: 3%;
}